<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Página Inicial</title>
</head>
<body> 

    <%- include('partials/header.ejs') %>

    <div class="h1index">
        <!-- <h1>Pokedex</h1> -->
        <div>
            <a href="/cadastro"><img src="/img/pokedex.png" alt="Imagem de uma Pokedex">
            </a></div>
        <div class="h2index">
            <h2>Pokédex! adicione um novo Pokémon <a href="/cadastro">AQUI
            </a></h1></div>
        <!-- <h2>Lista de Pokémons:</h2> -->
        </div>
    </section>

    <main>
            <section id="pokemons">
                <% pokedex.forEach(element => { %>
                    <a href="/detalhes/<%= element.id %>">
                    <article class="card">
                        <div class="card_image">
                            <img src="<%= element.imagem %>" alt="<%= element.nome %>">
                        </div>
                        <div class="nomes">
                            <div class="nomesMesmo">
                                <p><b>Nome: </b><%= element.nome %></p>
                                <p><b>Tipo: </b><%= element.tipo %></p>
                            </div>
                        </div>
                    </article>
                    </a>
                    <% }) %>
            </section>

    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>